.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/* **************** ROOT VAR **************** */
:root {
  --primary-white: #fff;
  --primary-yellow: #ffff00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Oswald" sans-serif;
}

/* **************** NAVBAR **************** */
.jg-logo {
  width: 60px;
  border-radius: 50%;
}

/* **************** NAVBAR LINKS **************** */
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.9px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  /* --primary-white needed to be overwriten with !important */
  color: var(--primary-white) !important;
  /* This will help make the links NOT bounce down when clicked */
  border-top: 4px solid var(--primary-dark);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

/* this will outline a bar above the links */
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 4px solid var(--primary-yellow);
}

/* Hightlight the links when hovering */
.navbar-nav > li > a:hover {
  border-top: 4px solid var(--primary-yellow);
}
